.container {
  width: 100%;
  form {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 800px;
  }
  textarea {
    padding: 10px 20px;
  }
  img {
    max-width: 800px;
  }
}
